@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");



:root {
  --body_background_color: radial-gradient(rgb(22, 15, 25), rgb(22, 15, 25));
  --nav_background_color: radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255,  0.2));
  --nav_button_background_color: radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255,  0.2));
  --fadebox_background_color: rgba(0, 0, 0, 0.05);
  --fadebox_hover_background_color: rgba(255, 255, 255, 0.05);
  
  --small_header_text_color: #cf6565;
  --default_text_color: #401212;
  --unordered_list_text_color: #8a4949;
  
  --nav_button_radius: 10px;
  
  --nav_button_padding: 10px;
}

html {
  scroll-behavior: smooth;
}

.nav-frame {
  top: 0;
  border: none;
  width: 100%;
  z-index: 1000;
  position: fixed;
}

body {
  margin: 0px;
  background: linear-gradient(45deg, rgba(255,175,189,.7), rgba(100,216,243,.7), rgba(234,236,198,.7), rgba(245,146,176,.7), rgba(52,219,216,.7)) 0 0 / 1000% no-repeat, url(https://cdn.discordapp.com/attachments/660390332772646922/746993272844451850/vaporwave-4k-k3-2048x1152.jpg) 0 0 / cover no-repeat;
  -webkit-animation: gradientAnimation 40s ease infinite;
  background-color: cyan;
	animation: gradientAnimation 40s ease infinite;
}

body:before {
  -moz-transition: background-color 3s ease;
  -webkit-transition: background-color 3s ease;
  -ms-transition: background-color 3s ease;
  transition: background-color 3s ease;
  -moz-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -ms-transition-delay: 1s;
  transition-delay: 1s;
}

@-webkit-keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}

@keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: var(--nav_background_color);
  padding: 10px 0px;
  height: 30px;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-radius: 30px 30px 90px 90px;
}

.navbutton {
  padding: 0px 20px 0px 20px;
}

.navbutton > a,
.navbutton > .button {
  position: relative;
  background: var(--nav_button_background_color);
  padding: var(--nav_button_padding);
  border-radius: var(--nav_button_radius);
  text-decoration: none;
  transition: 2s;
}

.navbutton > a > span {
  display: none;
  opacity: 0;
  transition: 2s;
}

.navbutton > a:hover > span {
  display: inline-block;
  opacity: 1;
}

.navbutton > a > .icon,
.navbutton > .button > .icon {
  background: rgba(0, 0, 0, 0.2);
  border-radius: var(--nav_button_radius);
  padding: var(--nav_button_padding);
  
}

.navbutton > a:hover > .icon {
  transform: translate(calc(-1 * var(--nav_button_padding) / 2), 0px);
  margin-right: 5px;
}

.navbutton > a:hover,
.navbutton > .button:hover {
  border-color: grey;
  border-style: solid;
  animation: navButtonHover 0.5s normal forwards ease;
}

.hue-rotation-until-hover {
  animation: rotatehue 20s forwards ease infinite;
  filter: sepia(50%);
  transition: 2s;
}

.hue-rotation-until-hover:hover {
  animation: none;
}

@keyframes rotatehue {
  from {
    filter:hue-rotate(0deg) sepia(50%);
  }
  to {
    filter: hue-rotate(360deg) sepia(50%);
  }
}

@keyframes navButtonHover {
  to {
    opacity: 0.9;
    filter: drop-shadow(4px 4px 5px grey);
    filter: invert(100%);
    background: radial-gradient(#b5b5b5, #d4d4d4);
  }
}

content,
.content {
  display: block;
  margin-top: 500px;
  margin: 200px;
}

.fadebox {
  position: relative;
  background: var(--fadebox_background_color);
  border-radius: 20px;
  padding: 10px;
  transition: 0.4s linear;
  opacity: 0.8;
  filter: grayscale(80%);
}

.fadebox:hover {
  background: var(--fadebox_hover_background_color);
  opacity: 1;
  filter: grayscale(0);
}

.fadebox > h2.header {
  position: relative;
  top: 0;
  transition: top 0.5s;
}

.fadebox:hover > h2.header {
  top: -10px;
}

p,
a {
  color: var(--default_text_color);
  font-family: "Lobster", cursive;
  font-size: 16px;
}

.fadebox > p {
  display: inline-block;
  text-wrap: wrap;
}
p.fixed,
a.fixed {
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}

ul > li {
  color: var(--unordered_list_text_color);
  text-shadow: 1px 1px #784040;
}

.link {
  display: inline-block;
  color: #8a4141;
}

.header,
.copyright {
  color: #b34d4d;
  text-shadow: 1px 1px grey;
  font: bold 2em "Paytone One", sans-serif;
  letter-spacing: 0.1em;
  line-height: 80%;
  user-select: none;
}

.header:hover {
  filter: brightness(100%);
  border: 
}

.small-header {
  color: var(--small_header_text_color);
  text-shadow: 1px 1px grey;
  line-height: 80%;
}

.indent {
  position: relative;
  left: 50px;
}

.copyright {
  font-size: 18px;
  text-align: center;
}

.self-image {
  border-radius: 16px;
  float: left;
  padding: 10px;
}

.frame {
  width: 100%;
  height: calc(600px);
}

.flex_links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex_links > * {
  margin: 0px 10px 0px 10px;
}

.flex_links > *::before {
  content: "(";
}

.flex_links > *::after {
  content: ")";
}

@keyframes boxie-walk {
    to {
    	transform: translate(120vw, 0);
    }
}

@keyframes boxie-hop {
	from {
    	bottom: 0px;
    }
    50% {
    	bottom: 15px;
    }
    to {
    	bottom: 0px;
    }
}

boxies > span {
  background: url(https://cdn.glitch.me/dd0d1eb6-fd42-47e9-8dc5-e31067eff711%2FboxieX200.png?v=1635344057472) 0/100% no-repeat;
  width: 32px;
  height: 32px;
  position: fixed;
  object-fit: none;
  left: -100px;
}

boxies > span:hover {
  filter: sepia(100%);
}
